// Specific CSS for your home-page

body {
  background-image: url("https://media.vanityfair.com/photos/5a67aa397cfa05029c4004ef/master/w_2560%2Cc_limit/HWD-cover-gate-no-coverlines-2018-13.jpg");
  background-size: cover;
  background-position: cover;
  color: white;
  opacity: 1;
}
