<div id ='container-index'>

  <div id = 'flex-index'>
    <% @bookings.each do |booking| %>
        <div class="card-product">
          <img src="<%= cl_image_path booking.star.photo.key, height: 300, width: 400 %>" />
          <div class="card-product-infos">
            <h2><%= link_to booking.star.name, star_path(booking.star)%></h2>
            <p><%= booking.star.category %></p>
          <div>
            <%= link_to "Add a review", new_booking_review_path(booking) %>
          </div>
          </div>
        </div>
    <% end %>
  </div>
</div>


