<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://image.freepik.com/vecteurs-libre/banniere-evenement-formel-celebrites-du-tapis-rouge_1284-17417.jpg);">

</div>

  <div class="container">
    <h1>Adopt a Star</h1>
    <h2>Have a sweet moment with famous people</H2>
  </div>

 <!--  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://anniversaire-celebrite.com/upload/250x333/jerome-le-banner-250.jpg)">
    Lebanner
  </div> -->

