<div class="card-trip">
 <img src="<%= cl_image_path @booking.star.photo.key %>">
  <div class="card-trip-infos">
    <div>
      <h2>Your experience with ...</h2>
      <p>that was such a fantastic experience !</p>
    </div>
    <h2 class="card-trip-pricing">7645 Euros</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
   <h1><button class="btn btn-ghost"> <%= link_to 'Add a review', new_booking_review_path(@booking) %> </button></h1>
</div>

