<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to stars_path, class: "navbar-brand" do %>
    <%= image_tag "https://banner2.cleanpng.com/20180409/dge/kisspng-cocktail-margarita-computer-icons-beer-martini-snack-5acbc9c53d6788.3928828315233049012515.jpg" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <%= link_to new_star_path, class: 'btn-nav' do %>
          <svg width="277" height="62">
            <defs>
                <linearGradient id="grad1">
                    <stop offset="0%" stop-color="#FF8282"/>
                    <stop offset="100%" stop-color="#E178ED" />
                </linearGradient>
            </defs>
             <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="50"></rect>
          </svg>
          <span>Create a Star</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>
