<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p>une appli de OUf</p>

<p>decouvrez les stars du moment et passez une nuit toride avec elles</p>


<h1>Adopt a Star</h1>
<%= simple_form_for :filter, url: stars_path, method: :get do |f| %>
<%= f.input :city %>
<%= f.submit %>
<% end %>
