
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.vanityfair.com/photos/5a67aa397cfa05029c4004ef/master/w_2560%2Cc_limit/HWD-cover-gate-no-coverlines-2018-13.jpg);">
  <div class="container text-center">
    <h1>Welcome to <strong>Adopt A Star!</strong></h1>
    <p>We give you the chance to spent time with your favourite celebrity</p>
    <%= link_to "Go!", stars_path, class: "btn btn-flat col-3", data: { turbolinks: false }%>
  </div>
</div>

