.filter{
  margin-top: 14px;
  margin-bottom: 14px;
  padding-left: 14px;
}

.form-container{
  margin-top: 20px;
  margin-bottom: 14px;
  padding: 0 469px;

  h1{
    text-align: center;
  }

  h2{
    text-align: center;
  }
}

.edit-star{
  position: relative;
  top: 67px;
  right: -440px;
}


.box{
  background: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.container-star{
  display: flex;
  flex-direction: row;
}
