.filter{
  margin-top: 14px;
  margin-bottom: 14px;
  padding-left: 14px;
}

.form-container{
  margin-top: 20px;
  margin-bottom: 14px;
  padding: 0 400px;

  h1{
    text-align: center;
  }

  h2{
    text-align: center;
  }
}

#banner-edit-or-delete{
    // background: #00c123;
    padding: 2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 15px;
    background-color: transparent;
    a {
    color: #ED4B5F;
    opacity: 0.45;
    text-decoration: none;
    margin-right: 15px;
    }
    a:hover{
      opacity: 1;
    }
}

.container-star-booking{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container-star{
  // display: flex;
  // flex-direction: column;
  // flex-grow: 3;
}


.box{
  background: white;
  margin-left: 17px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 523px;
  padding-top: 20px;
  font-size: 20px;
  h2{
    text-align: center;
    padding-bottom: 20px;
  }
  ul {
    list-style-type: none;
  }
}

#carouselExampleIndicators{
  margin-left: auto;
  margin-right: auto;
}

#star-description{
  padding-left: 105px;
}

.box-booking{
  background: white;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 339px;
  height: 300px;
  padding: 20px;
  flex-grow: 3;
  position: sticky;
  top: 105px;
  margin-bottom: 20px;
}

.box-reviews{
  background: white;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  height: auto;
  padding: 20px;
}

